#main-container{
	margin: 150px auto;
	width: 400px;
}

table{
	background-color: #8E8282;
	text-align: center;
	border-collapse: collapse;
	width: 80%;
	padding-left: 350px;
}

th,td{
	padding: 12px;
	background-color: White;
	
}

thead{
	background-color: #B9B0B0;
	color: white;
}

tr:nth-child(even){
	background-color: White;

}
tr:hover td{
	background-color: #40B5AB;
}

.form-control{
	border-radius: 5px;
	border: 1px solid #39c;
	width: 300px;
	height: 20px;
	size: 32;
	text-align: center;
}
#Hov{
	color: Black;
}
#Hov th:hover{
  color: Red;
  transition: color 0-25s;
}

#Boton{
	border: 1px solid white;
    border-radius: 5px;
}